body{
    margin: 0;
}
.header{
    background: #2e1e71;
    height: 150px;
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 30px;
}
.logotype{
    width: 180px;
    border-radius: 10px ;
}
.slogan{
    color: white;
    width: 20%;
    font-size: 30px;
    margin-left: 10px;
}
.search{
    margin-left: auto;
    margin-right: 50px;
    width: 300px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
}
nav{
    background: #583fc1;
    padding: 15px 0;

}
.navigation{
    display: flex;
    margin: 0 0 0 50px;
}
li{
    list-style: none;
    margin-right: 50px;
    font-size: 18px ;
}
a{
    text-decoration: none;
    color: #f3efef;
}
.active{
    text-decoration: overline;
    width: 5px;
}
main{
    margin-bottom: 300px;
}
article p{
    font-size: 20px;
    width: 60%;
    display: inline-block;
}
article img{
    width: 30%;
    float: left;
    margin-right: 20px;
    border-radius: 3px;
}
h1{
    font-size: 2.5em;
}
.foot{
    background-color: #20154d;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-logotype{
    width: 100px;
}
.links a{
    margin-right: 20px;
}